<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="jumbotron row">
        <div style="margin: 0 auto">
            <h5 class="col-md-offset-2">That’s an error.</h5>
            <h5 class="col-md-offset-2">404 - Page not found</h5>
            <a class="btn btn-dark" th:href="@{/}" role="button">Go home</a>
        </div>
    </div>
</div>
</body>
</html>