<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Addresses list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:insert="header :: header"></div>
<div class="container">
    <h4 th:text="#{address.addresses}" class="m-3"></h4>
    <div th:each="address : ${addresses}">
        <div th:replace="address_template::address-simple (address = ${address})"></div>
        <form th:action="@{/management/address_selection}" name="address_selection" method="POST" class="m-3">
            <input name="addressId" type="hidden" required th:value="${address.getId()}">
            <input name="eventId" type="hidden" required th:value="${eventId}">
            <button type="submit" class="btn btn-dark" th:text="#{address.choose}">Choose</button>
        </form>
    </div>
    <div th:replace="pagination::pagination (pagination=${addresses})"></div>
</div>
<div th:insert="footer :: footer"></div>
</body>
</html>