<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add address</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:insert="header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-10">
            <form th:action="@{/management/address_edit}" name="address_add" method="POST">

                <div class="form-group">
                    <label for="addressName" th:text="#{address.name}">Address name</label>
                    <input name="addressName" type="text" autocomplete="off" class="form-control" id="addressName"
                           th:placeholder="#{address.name.enter}" maxlength="255" required
                           th:value="${address.getName()}">
                </div>

                <div class="form-group">
                    <label for="addressCountry" th:text="#{address.country}">Country</label>
                    <input name="addressCountry" type="text" autocomplete="off" class="form-control" id="addressCountry"
                           th:placeholder="#{address.country.enter}" maxlength="100" required
                           th:value="${address.getCountry()}">
                </div>

                <div class="form-group">
                    <label for="addressCity" th:text="#{address.city}">City</label>
                    <input name="addressCity" type="text" autocomplete="off" class="form-control" id="addressCity"
                           th:placeholder="#{address.city.enter}" maxlength="50" required
                           th:value="${address.getCity()}">
                </div>

                <div class="form-group">
                    <label for="addressDetails" th:text="#{address.details}">Address details</label>
                    <textarea name="addressDetails" class="form-control" id="addressDetails" autocomplete="off"
                              th:placeholder="#{address.details.enter}" maxlength="255" required
                              th:text="${address.getDetailedAddress()}">
                    </textarea>
                </div>

                <input name="addressId" type="hidden" required th:value="${address.getId()}">

                <button type="submit" class="btn btn-dark" th:text="#{address.save}">Submit</button>
            </form>
        </div>
    </div>
</div>
<div th:insert="footer :: footer"></div>
</body>
</html>