<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:insert="header :: header"></div>
<div class="container">
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th><strong>Name</strong></th>
                <th><strong>Details</strong></th>
                <th><strong>Start</strong></th>
                <th><strong>End</strong></th>
                <th><strong>Action</strong></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="event : ${events}">
                <td><span th:text="${event.getName()}">Event name</span></td>
                <td><span th:text="${event.getEventDetails()}">Event details</span></td>
                <td><span th:text="${event.getStartDate()}">Start</span></td>
                <td><span th:text="${event.getFinishDate()}">End</span></td>
                <td>
                    <a th:href="@{/events/upcoming/{eventId}(eventId=${event.getId()})}"
                       class="btn btn-secondary btn btn-block" role="button" aria-pressed="true">Show details</a>

                    <a th:href="@{/speaker/suggest_presentation(eventId=${event.getId()})}"
                       sec:authorize="hasAnyRole('ADMIN', 'SPEAKER')"
                       class="btn btn-secondary btn btn-block" role="button" aria-pressed="true">Suggest presentation</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="pagination::pagination (pagination=${events})"></div>
</div>
</body>
</html>