<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conferences management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:insert="header :: header"></div>

<div class="container">
    <div class="shadow bg-white rounded">
        <a th:href="@{/management/event_add}"
           class="btn btn-secondary btn m-3 shadow-sm rounded" role="button" aria-pressed="true"
           th:text="#{event.create.new.button}">Create a new conference</a>
        <a th:href="@{/management/address_add}"
           class="btn btn-secondary btn m-3 shadow-sm rounded" role="button" aria-pressed="true"
           th:text="#{address.add.button}">Create a new address</a>
        <a th:href="@{/management/address_management}"
           class="btn btn-secondary btn m-3 shadow-sm rounded" role="button" aria-pressed="true"
           th:text="#{address.addresses}">Addresses</a>
        <a th:href="@{/management/speaker_rating}"
           class="btn btn-secondary btn m-3 shadow-sm rounded" role="button" aria-pressed="true"
           th:text="#{user.speaker.ratings}">Speakers rating</a>
        <a th:href="@{/management/bonuses}"
           class="btn btn-secondary btn m-3 shadow-sm rounded" role="button" aria-pressed="true"
           th:text="#{user.speaker.bonuses}">Bonuses</a>
    </div>
</div>

<div class="container">
    <div th:each="event : ${events}">
        <div th:replace="event_template::event-simple (event = ${event})"></div>
        <a th:href="@{/management/{eventId}/address_selection(eventId=${event.getId()})}"
           class="btn btn-secondary btn m-2" role="button" aria-pressed="true"
           th:text="#{address.choose.new}">
            Choose a new address</a>
        <a th:href="@{/management/send_email/{eventId}(eventId=${event.getId()})}"
           class="btn btn-secondary btn m-2" role="button" aria-pressed="true"
           th:text="#{email.send}">Send emails</a>
        <a th:href="@{/management/event_edit/{eventId}(eventId=${event.getId()})}"
           class="btn btn-secondary btn m-2" role="button" aria-pressed="true"
           th:text="#{event.edit.button}">Edit conference</a>
        <a th:href="@{/management/{eventId}/presentation_add(eventId=${event.getId()})}"
           class="btn btn-secondary btn m-2" role="button" aria-pressed="true"
           th:text="#{presentation.add.button}">Add presentation</a>
        <a th:href="@{/management/{id}(id=${event.getId()})}"
           class="btn btn-secondary btn m-2" role="button" aria-pressed="true"
           th:text="#{event.show.button}">Show conference</a>
        <a th:href="@{/management/{id}/suggested_by_speaker(id=${event.getId()})}"
           class="btn btn-secondary btn m-2" role="button" aria-pressed="true"
           th:text="#{presentation.suggested.button}">Suggested presentations</a>
    </div>
    <div th:replace="pagination::pagination (pagination=${events})"></div>
</div>
<div th:insert="footer :: footer"></div>
</body>
</html>