<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conference details management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:insert="header :: header"></div>

<div class="container">
    <h4 th:text="#{event}"></h4>
    <div th:replace="event_template::event-simple (event = ${event})"></div>

    <h4 th:text="#{presentations}"></h4>
    <div th:each="presentation : ${presentations}">
        <div th:replace="presentation_template::presentation-simple (presentation = ${presentation})"></div>
        <a th:href="@{/management/{eventId}/presentation_edit/{presentationId}(eventId=${event.getId()}, presentationId=${presentation.getId()})}"
           class="btn btn-secondary btn m-2" role="button" aria-pressed="true" th:text="#{presentation.edit.button}">Edit
            presentation</a>
        <a th:href="@{/management/{eventId}/register_visitors/{presentationId}/all(eventId=${event.getId()}, presentationId=${presentation.getId()})}"
           class="btn btn-secondary btn m-2" role="button" aria-pressed="true"
           th:text="#{presentation.register.visitors.button}">Register visitors</a>
    </div>
</div>
<div th:insert="footer :: footer"></div>
</body>
</html>