<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:with="uri=${#httpServletRequest.requestURI}">
        <a class="navbar-brand" href="#" th:text="#{project.name}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}" th:text="#{event.upcoming}">Upcoming conferences</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/events/past}" th:text="#{event.past}">Past conferences </a>
                </li>

                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                    <a class="nav-link" th:href="@{/admin/users}" th:text="#{user.users}">Users</a>
                </li>

                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                    <a class="nav-link" th:href="@{/admin/bonuses}" th:text="#{user.speaker.bonuses}">Bonuses</a>
                </li>

                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                    <a class="nav-link" th:href="@{/admin/sent_messages}" th:text="#{email.sent}">Sent messages</a>
                </li>

                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')">
                    <a class="nav-link" th:href="@{/management}" th:text="#{event.management}">Conferences
                        management </a>
                </li>

                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'SPEAKER')">
                    <a class="nav-link" th:href="@{/speaker/suggested_by_moderator}"
                       th:text="#{presentation.suggested.by.moderator}">Suggested presentation</a>
                </li>

            </ul>
            <a sec:authorize="isAnonymous()" th:href="@{/login}" class="btn btn-outline-success my-2 my-sm-0 mx-2"
               role="button" aria-pressed="true" th:text="#{user.sign.in}">Sign in</a>
            <a sec:authorize="isAnonymous()" th:href="@{/registration}"
               class="btn btn-outline-success my-2 my-sm-0 mx-2"
               role="button" aria-pressed="true" th:text="#{user.sign.up}">Sign up</a>
            <form sec:authorize="isAuthenticated()" class="form-inline my-2 my-lg-0" th:action="@{/logout}"
                  method="post">
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Sign Out"
                       th:value="#{user.sign.out}"/>
            </form>
            <a th:if="${#locale.language eq 'en'}" th:href="@{${uri}(lang=ua)}" class="btn btn-dark my-2 my-sm-0 mx-2"
               role="button" aria-pressed="true">UA</a>
            <a th:if="${#locale.language eq 'ua'}" th:href="@{${uri}(lang=en)}" class="btn btn-dark my-2 my-sm-0 mx-2"
               role="button" aria-pressed="true">EN</a>
        </div>
    </nav>
</div>
</body>
</html>