<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-6">
            <form th:action="@{/}" name="registration" method="POST">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input name="firstName" type="text" autocomplete="off" class="form-control" id="firstName"
                           placeholder="Enter your First Name" required>
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input name="lastName" type="text" autocomplete="off" class="form-control" id="lastName"
                           placeholder="Enter your Last Name" required>
                </div>

                <div class="form-group">
                    <label for="email">Email address</label>
                    <input name="email" type="email" autocomplete="off" class="form-control" id="email"
                           placeholder="Enter email" required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" autocomplete="new-password" class="form-control"
                           id="password"
                           placeholder="Password" required>
                </div>

                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input name="password2" type="password" autocomplete="new-password" class="form-control"
                           id="password2"
                           placeholder="Confirm Password" required>
                </div>

                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>

        <div class="col-6">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th><strong>ID</strong></th>
                    <th><strong>Name</strong></th>
                    <th><strong>Surname</strong></th>
                    <th><strong>Email</strong></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td><span th:text="${user.id}">Name</span></td>
                    <td><span th:text="${user.firstName}">Name</span></td>
                    <td><span th:text="${user.lastName}">Name</span></td>
                    <td><span th:text="${user.email}">Name</span></td>
                </tr>
                </tbody>
            </table>



        </div>
    </div>
</div>
</body>
</html>