<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit presentation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:insert="header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <form th:action="@{/management/presentation_edit}" th:object="${form}" name="presentation_add"
                  method="POST">

                <div class="form-group">
                    <label for="authorEmail" th:text="#{user.speaker.email}">Speaker's email</label>
                    <input th:field="*{authorEmail}" name="authorEmail" type="email" autocomplete="off"
                           class="form-control" id="authorEmail"
                           th:placeholder="#{user.speaker.email}" required>
                </div>

                <div class="form-group">
                    <label for="presentationTopic" th:text="#{presentation.topic}">Topic</label>
                    <input th:field="*{presentationTopic}" name="presentationTopic" type="text" autocomplete="off"
                           class="form-control" id="presentationTopic" maxlength="255"
                           th:placeholder="#{presentation.topic.enter}" required>
                </div>

                <div class="form-group">
                    <label for="presentationDescription" th:text="#{presentation.description}">Description</label>
                    <textarea th:field="*{presentationDescription}" name="presentationDescription" class="form-control"
                              id="presentationDescription" autocomplete="off" maxlength="2000"
                              th:placeholder="#{presentation.description.enter}" required></textarea>
                </div>

                <div class="form-group">
                    <label for="presentationStartDate" th:text="#{presentation.start.date}">Start date</label>
                    <div th:if="${#fields.hasErrors('presentationStartDate')}" th:errors="*{presentationStartDate}"
                         class="alert alert-warning"
                         role="alert">
                        Error message.
                    </div>
                    <input th:field="*{presentationStartDate}"
                           name="presentationStartDate" type="date"
                           autocomplete="off" class="form-control"
                           id="presentationStartDate"
                           placeholder="Enter presentation start date" required>
                </div>

                <div class="form-group">
                    <label for="presentationStartTime" th:text="#{presentation.start.time}">Start time</label>
                    <div th:if="${#fields.hasErrors('presentationStartTime')}" th:errors="*{presentationStartTime}"
                         class="alert alert-warning"
                         role="alert">
                        Error message.
                    </div>
                    <input th:field="*{presentationStartTime}"
                           name="presentationStartTime" type="time"
                           autocomplete="off" class="form-control"
                           id="presentationStartTime"
                           placeholder="Enter presentation time" required>
                </div>

                <div class="form-group">
                    <label for="presentationDuration" th:text="#{presentation.duration.min}">Duration in minutes</label>
                    <input th:field="*{duration}" name="presentationDuration" type="number" min="30" max="240"
                           value="30" step="5"
                           autocomplete="off" class="form-control" id="presentationDuration"
                           placeholder="Enter presentation duration" required>
                </div>

                <input type="hidden" name="eventId" th:field="*{eventId}">
                <input type="hidden" name="presentationId" th:field="*{presentationId}">
                <input type="hidden" name="presentationStatus" th:field="*{presentationStatus}">

                <button type="submit" class="btn btn-dark" th:text="#{presentation.save}">Submit</button>
            </form>
        </div>

    </div>
</div>
<div th:insert="footer :: footer"></div>
</body>
</html>