<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speaker ratings</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:insert="header :: header"></div>
<div class="container">
    <div class="col-6 mx-auto">
        <table class="table table-hover">
            <thead>
            <tr>
                <th><strong th:text="#{user.first.name}">Name</strong></th>
                <th><strong th:text="#{user.last.name}">Surname</strong></th>
                <th><strong th:text="#{user.email}">Email</strong></th>
                <th><strong th:text="#{user.rating}">Rating</strong></th>
                <th><strong th:text="#{user.bonus.coefficient}">Bonus coefficient</strong></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="speaker : ${speakers}">
                <td><span th:text="${speaker.getFirstName()}">Name</span></td>
                <td><span th:text="${speaker.getLastName()}">Surname</span></td>
                <td><span th:text="${speaker.getEmail()}">Email</span></td>
                <td><span th:text="${speakerRatings.get(speaker) == null? '-' : speakerRatings.get(speaker)}">Rating</span></td>
                <td><span th:text="${coefficients.get(speaker) + '%'}">Bonus coefficient</span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="pagination::pagination (pagination=${speakers})"></div>
</div>
<div th:insert="footer :: footer"></div>
</body>
</html>