<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add presentation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:insert="header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-10">
            <form th:action="@{/speaker/suggest_presentation}" name="presentation_add" method="POST">
                <div class="form-group">
                    <label for="presentationTopic">Topic</label>
                    <input name="presentationTopic" type="text" autocomplete="off" class="form-control" id="presentationTopic"
                           placeholder="Enter topic" required>
                </div>
                <div class="form-group">
                    <label for="presentationDescription">Description</label>
                    <textarea name="presentationDescription" class="form-control" id="presentationDescription" autocomplete="off"
                              placeholder="Enter address details" required></textarea>
                </div>

                <div class="form-group">
                    <label for="presentationStart">Start date and time</label>
                    <input name="presentationStart" type="datetime-local" autocomplete="off" class="form-control" id="presentationStart"
                           placeholder="Enter presentation start date and time" required>
                </div>

                <div class="form-group">
                    <label for="presentationDuration">Duration in minutes</label>
                    <input name="presentationDuration" type="number" min="30" max="240" value="30" step="5"
                           autocomplete="off" class="form-control" id="presentationDuration"
                           placeholder="Enter presentation duration" required>
                </div>

                <div class="form-group">
                    <label for="presentationStatus">Select status</label>
                    <select class="form-control" id="presentationStatus" name="presentationStatus">
                        <option>Confirmed</option>
                        <option>Suggested by moderator</option>
                    </select>
                </div>

                <input type="hidden" name="eventId" th:value="${eventId}">

                <button type="submit" class="btn btn-dark">Suggest</button>
            </form>
        </div>

    </div>
</div>
</body>
</html>