<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conference details management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:insert="header :: header"></div>
<div class="container">
    <div class="col-10">
        <h3>Conference: </h3>
        <table class="table table-hover">
            <tbody>
            <tr>
                <td>
                    <strong>Conference name: </strong>
                </td>
                <td>
                    <span th:text="${event.getName()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Conference details: </strong>
                </td>
                <td>
                    <span th:text="${event.getEventDetails()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Start: </strong>
                </td>
                <td>
                    <strong>on </strong>
                    <span th:text="${event.getStartDate().toLocalDate()}"></span>
                    <strong>at </strong>
                    <span th:text="${event.getStartDate().toLocalTime()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>End: </strong>
                </td>
                <td class="col-xs-9">
                    <strong>on </strong>
                    <span th:text="${event.getFinishDate().toLocalDate()}"></span>
                    <strong>at </strong>
                    <span th:text="${event.getFinishDate().toLocalTime()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Address: </strong>
                </td>
                <td>
                    <span th:text="${event.getAddress().getName()}"></span>
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <span th:text="${event.getAddress().getCountry()}"></span>
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <span th:text="${event.getAddress().getCity()}"></span>
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <span th:text="${event.getAddress().getDetailedAddress()}"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="col-10">
        <h3>Presentations: </h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th><strong>Topic</strong></th>
                <th><strong>Details</strong></th>
                <th><strong>Start</strong></th>
                <th><strong>Duration(min)</strong></th>
                <th><strong>Registrations</strong></th>
                <th><strong>Action</strong></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="presentation : ${presentations}">
                <td><span th:text="${presentation.getTopic()}">Presentation topic</span></td>
                <td><span th:text="${presentation.getDescription()}">Presentation description</span></td>
                <td><span
                        th:text="${presentation.getStartDate().toLocalDate()} + ' ' + ${presentation.getStartDate().toLocalTime()}">Start</span>
                </td>
                <td><span th:text="${presentation.getDuration().toMinutes()}">Duration</span></td>
                <td><span th:text="${presentation.getRegistrations().size()}">Registrations</span></td>
                <td>
                    <div>
                        <form th:action="@{/user/register_for_presentation}" name="address_selection" method="POST">
                            <input name="presentationId" type="hidden" required th:value="${presentation.getId()}">
                            <button type="submit" class="btn btn-dark" th:disabled="${presentationIds.contains(presentation.getId()) == true}">
                                Register
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</div>
</body>
</html>