<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upcoming conference details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:insert="header :: header"></div>
<div class="container">
    <h4 th:text="#{event}"></h4>
    <div th:replace="event_template::event-simple (event = ${event})"></div>
    <h4 th:text="#{presentations}" class="m-3"></h4>
    <div th:each="presentation : ${presentations}">
        <div th:replace="presentation_template::presentation-simple (presentation = ${presentation})"></div>
        <form th:action="@{/user/register_for_presentation}" name="address_selection" method="POST">
            <input name="presentationId" type="hidden" required th:value="${presentation.getId()}">
            <input type="hidden" name="eventId" th:value="${event.getId()}">
            <button type="submit" class="btn btn-dark m-2"
                    th:disabled="${presentationIds.contains(presentation.getId()) == true}"
                    th:text="#{presentation.register}">
                Register
            </button>
        </form>
    </div>
</div>
<div th:insert="footer :: footer"></div>
</body>
</html>